node_modules/
.pnp
.pnp.js
coverage/
build/
dist/
.vol/
out/
.DS_Store
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.idea/
.vscode/
*.
swp
*.swo
 *
.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local
target/
.anchor/
.turbo/
